@import url('https://fonts.googleapis.com/css?family=IM+Fell+English+SC');

html,
body {
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

#root {
  font-family: 'IM Fell English SC', serif;
  font-size: 1.05rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  flex-shrink: 0;
}

.sea-bg-image {
  background-image: url('./images/sea.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 992px) {
  #root {
    font-size: 1.20rem;
  }
}
