@import url('https://fonts.googleapis.com/css?family=IM+Fell+English+SC');

html,
body {
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

#root {
  font-family: 'IM Fell English SC', serif;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  flex-shrink: 0;
}

.sea-bg-image {
  background-image: url('./images/sea.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
